{% extends 'base.html' %}
{% load static %}


{% block extra_head %}
    <title>Create Space</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/create.css' %}">
{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="list-group-item">
                    <h5>Create a space</h5>
                    <form method="POST" class="space-create-form" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                        {{ form.name.label }}
                        {{ form.name }}

                        {{ form.display_name.label}}
                        {{ form.display_name}}

                        <div class="list-group-item">
                            <img src="{% static 'res/vector/logo_bw.svg' %}" class="image-preview" 
                                id="logo-view">
                            <div class="custom-file">
                                {{ form.logo }}
                                <label for="id_logo" class="custom-file-label">Select Logo</label>
                            </div>
                        </div>  

                        {{ form.description.label}}
                        {{ form.description}}

                        <input type="submit" value="Create" class="btn btn-success btn-block">
                    </form>
                </div>
            </div>
            <br>
            <div class="col-md-6 view mt-3 mb-5">
                <img src="{% static 'res/vector/trade.svg' %}">
                <p class="text-white text-center display-4 mt-3">Your space, your management</p>
            </div>
            
        </div>
    </div>
{% endblock %}


{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/space/product/create.js'%}"></script>
{% endblock %}
