{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>{{ space.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/index.css' %}">
   
{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">

                <div id="banner-slider" class="carousel slide" data-ride="carousel">
                    
                    <ul class="carousel-indicators">
                        <li data-target="#banner-slider" data-slide-to="0"></li>
                        <li data-target="#banner-slider" data-slide-to="1"></li>
                        <li data-target="#banner-slider" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        {% for banner in banners %}
                            {% if forloop.first %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                            
                                <div class="banner-slider-item">
                                    <img src="{{banner.location}}" onerror="{this.src='https://images.unsplash.com/photo-1469827160215-9d29e96e72f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80'}" height="350px">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <div class="list-group-item">
                    <h3>
                        {{space.name}}
                        {% if in_trending %}
                         <i class="fa fa-line-chart" style="color:#F93B24;">
                            <sup>trending</sup>
                        </i>
                        {% endif %}
                    </h3>
                    <p>{{space.description | urlize | linebreaks }}</p>    
                </div>

                <div class="list-group-item">
                    <div class="category-tags">
                        <div style="display: flex; justify-content: flex-end;" id="pin-block">
                            
                        </div>
                    </div><br>

                    <div id="react-progress-block">
                        
                    </div>
                    
                </div>
                <br>
            </div>

            <div class="col-lg-3">
                <div class="list-group" style="color: white">
                    <h4 class="list-group-item disable bg-dark">Status</h4>
                    <h6 class="list-group-item text-dark">Rating : {{status.rating}}</h6>
                    <h6 class="list-group-item text-dark">Posts : {{status.total_post}}</h6>
                    <h6 class="list-group-item text-dark">Reacts : {{total_react}}</h6>
                    <h6 class="list-group-item text-dark">Favorites : {{ status.total_favorite }}</h6>
                    <h6 class="list-group-item text-dark">Total Pinned : {{status.total_pinned}}</h6>
                </div>
                <br><br>
                {% if request.user.is_authenticated and request.user == space.owner %}
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="update/">Update</a>
                    <a class="list-group-item list-group-item-action" href="/space/product/create/">Product Create</a>
                    <a class="list-group-item list-group-item-action" href="#">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container fluid">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 grid-item">
                    <figure class="card-container dash-card">
                        <img src="{{ product.logo_url }}">
                        <figcaption>
                            <h5 class="title">{{ product.title }}</h5>
                            <h6>{{ product.price }}</h6>
                            <div>
                                <button class="react-btn">
                                    <i class="em em---1"></i>
                                    <span class="badge badge-success">{{product.react_good}}</span>
                                </button>
                                 <button class="react-btn">
                                    <i class="em em--1"></i>
                                    <span class="badge badge-warning">{{product.react_bad}}</span>
                                </button>
                                 <button class="react-btn">
                                    <i class="em em-rage"></i>
                                    <span class="badge badge-danger">{{product.react_fake}}</span>
                                </button>
                            </div>
                        </figcaption>
                        <a href="/space/product/{{product.uid}}/"></a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block extra_script %}
    <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>

    {% if request.user.is_authenticated  %}
        {% if not request.user == space.owner %}
            <script type="text/babel">
            
                class Pin extends React.Component {

                    constructor(props){
                        super(props);

                        {% if has_favorite %}
                            this.state = {
                                pinClassName : 'btn btn-sm btn-dark',
                                pinned : true,
                                text : 'Remove Favorite',
                                url : '/api/space/'+'{{space.name}}'+'/activity/favorite/'
                            };

                        {% else %}
                            this.state = {
                                pinClassName : 'btn btn-sm btn-outline-dark',
                                pinned : false,
                                text : 'Add Favorite',
                                url : '/api/space/'+'{{space.name}}'+'/activity/favorite/'
                            };
                        {% endif %}

                        this.handleClick = this.handleClick.bind(this);
                    }

                    handleClick(){

                        if(this.state.pinned){
                            this.setState({
                                pinClassName : 'btn btn-sm btn-outline-dark',
                                pinned : false,
                                text : 'Add Favorite'
                            });

                            fetch(this.state.url+'?req=remove&format=json')
                            .then(response => {
                                response.json();
                                console.log(response);
                            });
                        }
                        else{
                            this.setState({
                                pinClassName : 'btn btn-sm btn-dark',
                                pinned : true,
                                text : 'Remove Favorite'
                            });
                            fetch(this.state.url+'?req=add&remove')
                            .then(response => {
                                response.json();
                                console.log(response);
                            });
                        }

                    }

                    render(){
                        return(
                            <button class={this.state.pinClassName} onClick={this.handleClick}>
                                {this.state.text} <i class="em em-heart"></i>
                            </button>
                        );
                    }
                }

                const element = (<Pin/>);
                ReactDOM.render(element, document.getElementById('pin-block'));
            </script>
        {% endif %}
    {% endif %}

    <script type="text/babel">
        
        class ReactProgress extends React.Component {

            constructor(props){
                super(props);

                var good=(parseFloat( {{status.total_good_react}}/{{total_react}})*100).toFixed(2);
                var bad=(parseFloat( {{status.total_bad_react}}/{{total_react}})*100).toFixed(2);
                var fake=(parseFloat({{status.total_fake_react}}/{{total_react}})*100).toFixed(2);

                if (good == 'NaN'){
                    good = 0;
                }
                if (bad == 'NaN'){
                    bad = 0;
                }
                if (fake == 'NaN'){
                    fake = 0;
                }

                this.state = {
                    'good' : good,
                    'bad' : bad,
                    'fake' : fake
                };
            }

            render(){

                const good = { width : this.state.good.toString()+'%' };
                const bad = { width : this.state.bad.toString()+'%'  };
                const fake = { width : this.state.fake.toString()+'%' };

                return(
                    <div>
                        <div className="progress">
                            <div className="progress-bar bg-success text-dark font-weight-bold" style={good}>
                                Good React {this.state.good} %
                            </div>
                        </div><br/>
                        <div className="progress">
                            <div className="progress-bar bg-warning text-dark font-weight-bold" style={bad}>
                                Bad React {this.state.bad} %
                            </div>
                        </div><br/>
                        <div className="progress">
                            <div className="progress-bar bg-danger text-dark font-weight-bold" style={fake}>
                                Fake React {this.state.fake} %
                            </div>
                        </div>
                    </div>
                );
                
            }
        }

        const element = (<ReactProgress/>);
        ReactDOM.render(element, document.getElementById('react-progress-block'));
    </script>
{% endblock %}