{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>{{ space.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/product_post_card.css' %}">
   
{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">

                <div id="banner-slider" class="carousel slide" data-ride="carousel">
                    
                    <ul class="carousel-indicators">
                        <li data-target="#banner-slider" data-slide-to="0"></li>
                        <li data-target="#banner-slider" data-slide-to="1"></li>
                        <li data-target="#banner-slider" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="banner-slider-item">
                                <img src="{% static 'res/bing (1).jpg' %}" height="350px">
                            </div>
                            
                        </div>

                        <div class="carousel-item">
                            <div class="banner-slider-item">
                                <img src="{% static 'res/bing (2).jpg' %}" height="350px">
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="banner-slider-item">
                                <img src="{% static 'res/bing (3).jpg' %}" height="350px">
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <div class="list-group-item">
                    <h3>{{space.name}}</h3>
                    <p>{{space.description}}</p>    
                </div>

                <div class="list-group-item">
                    <div class="category-tags">
                        <div style="display: flex; justify-content: flex-end;" id="pin-block">
                            
                        </div>
                    </div><br>

                    <div class="progress">
                        <div class="progress-bar bg-success" style="width: 70%">Good React</div>
                    </div><br>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 20%">Bad React</div>
                    </div><br>
                    <div class="progress">
                        <div class="progress-bar bg-danger" style="width: 10%">Fake React</div>
                    </div>
                </div>
                <br>
            </div>

            <div class="col-lg-3">
                <div class="list-group" style="color: white">
                    <h4 class="list-group-item disable bg-dark">Activity</h4>
                    <h6 class="list-group-item bg-danger">Rating: 396</h6>
                    <h6 class="list-group-item bg-info">Reacts: 6580</h6>
                    <h6 class="list-group-item bg-success">Favorite: 485</h6>
                    <h6 class="list-group-item bg-primary">Posts: 35</h6>
                </div>
                <br><br>
                <div class="list-group">
           
                    <a class="list-group-item" href="">Settings</a>
                    <a class="list-group-item" href="">Promotion</a>
                    <a class="list-group-item" href="">Change Ownership</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row d-flex">
            {% for product in products %}
                <div class="card bg-light" id="product-card" style="margin: 15px;">
                    <a href="/space/product/{{product.uid}}">
                        <img src="{{ product.logo_url }}">
                    </a>
                    <div class="card-body">
                        <center>
                           <a href="/space/product/{{product.uid}}"><h5>{{product.title}}</h5></a>
                           <h6 class="d-inline-block">{{product.price}}</h6>            
                        </center>
                        <center>
                            <button class="btn btn-success" data-toggle="tooltip" title="Good">
                                <span class="badge badge-light">{{product.react_good}}</span>
                            </button>
                            <button class="btn btn-warning" data-toggle="tooltip" title="Bad">
                                <span class="badge badge-light">{{ product.react_bad}}</span>
                            </button>
                            <button class="btn btn-danger" data-toggle="tooltip" title="Fake">
                                <span class="badge badge-light">{{product.react_fake}}</span>
                            </button>
                        </center>
                    </div>
                </div>

            {% endfor %}           
        </div>
    </div>

{% endblock %}


{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/generic/product_post_card.js'%}"></script>

    <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>

    {% if request.user.is_authenticated %}
        <script type="text/babel">
        
            class Pin extends React.Component {

                constructor(props){
                    super(props);

                    {% if has_favorite %}
                        this.state = {
                            pinClassName : 'btn btn-sm btn-dark',
                            pinned : true,
                            text : 'Remove Favorite'
                        };

                    {% else %}
                        this.state = {
                            pinClassName : 'btn btn-sm btn-outline-dark',
                            pinned : false,
                            text : 'Add Favorite'
                        };
                    {% endif %}

                    this.handleClick = this.handleClick.bind(this);
                }

                handleClick(){

                    if(this.state.pinned){
                        this.setState({
                            pinClassName : 'btn btn-sm btn-outline-dark',
                            pinned : false,
                            text : 'Add Favorite'
                        });

                        fetch('?favorite=remove')
                        .then(response => {
                            response.json();
                            console.log(response);
                        });
                    }
                    else{
                        this.setState({
                            pinClassName : 'btn btn-sm btn-dark',
                            pinned : true,
                            text : 'Remove Favorite'
                        });
                        fetch('?favorite=add')
                        .then(response => {
                            response.json();
                            console.log(response);
                        });
                    }

                }

                render(){
                    return(
                        <button class={this.state.pinClassName} onClick={this.handleClick}>
                            {this.state.text} <i class="em em-heart"></i>
                        </button>
                    );
                }
            }

            const element = (<Pin/>);
            ReactDOM.render(element, document.getElementById('pin-block'));
        </script>
    {% endif %}
{% endblock %}