{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %}
	<title>{{ space.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/index.css' %}">
   
{% endblock %}


{% block extra_content %}
	<div class="container-fluid list-group-item">
        <div class="row">
            <div class="col-lg-9">
                <div id="banner-slider" class="carousel slide" data-ride="carousel">
                    
                    <ul class="carousel-indicators">
                        <li data-target="#banner-slider" data-slide-to="0"></li>
                        <li data-target="#banner-slider" data-slide-to="1"></li>
                        <li data-target="#banner-slider" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        {% for banner in banners %}
                            {% if forloop.first %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                            
                                <div class="banner-slider-item">
                                    <img src="{{banner.location}}" height="350px">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex justify-content-center">
                    <img id="space-logo" src="{{ space.logo}}">
                </div>
                <h6 id="space-name">@{{space.name}}</h6>
                <div>
                    <h6 class="activity">Favorite <span class="activity-counter">{{status.total_favorite}}</span></h6>
                    <h6 class="activity">Pinned <span class="activity-counter">{{status.total_pinned}}</span></h6>
                    <h6 class="activity">Reacts <span class="activity-counter">{{status|total_reacts}}</span></h6>
                    <h6 class="activity">Rating <span class="activity-counter">{{status.rating}}</span></h6>
                </div>
                <div id="react-progress-block">
                </div>
                <div class="mt-4" id="pin-block"> 
                </div>
                {% if request.user == space.owner %}
                    <div class="list-group list-group-horizontal settings">
                        <a class="list-group-item list-group-item-primary" href="update/">Update</a>
                        <a class="list-group-item list-group-item-primary" href="/space/product/create/">Product Create</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row details">
            <h6 class="lead" id="display-name">{{space.display_name}}</h6>
            <p id="description">{{space.description | linebreaks | urlize}}</p>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row justify-content-center" id="cards-container" url="/api/product/?space={{space.name}}&token={{token}}" renderID="cards-container">
       </div>
    </div>

{% endblock %}


{% block extra_script %}
    <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>
    
    <script type="text/babel" src="{% static 'react/product-cards.js' %}"></script>

    {% if not request.user == space.owner %}
        <script type="text/babel">
        
            class Pin extends React.Component {

                constructor(props){
                    super(props);

                    {% if has_favorite %}
                        this.state = {
                            pinClassName : 'btn btn-sm btn-dark',
                            pinned : true,
                            text : 'Remove Favorite',
                            url : '/api/space/'+'{{space.name}}'+'/activity/favorite/?token={{token}}'
                        };

                    {% else %}
                        this.state = {
                            pinClassName : 'btn btn-sm btn-outline-dark',
                            pinned : false,
                            text : 'Add Favorite',
                            url : '/api/space/'+'{{space.name}}'+'/activity/favorite/?token={{token}}'
                        };
                    {% endif %}

                    this.handleClick = this.handleClick.bind(this);
                }

                handleClick(){

                    if(this.state.pinned){
                        this.setState({
                            pinClassName : 'btn btn-sm btn-outline-dark',
                            pinned : false,
                            text : 'Add Favorite'
                        });

                        fetch(this.state.url+'&req=remove')
                        .then(response => {
                            response.json();
                            console.log(response);
                        });
                    }
                    else{
                        this.setState({
                            pinClassName : 'btn btn-sm btn-dark',
                            pinned : true,
                            text : 'Remove Favorite'
                        });
                        fetch(this.state.url+'&req=add')
                        .then(response => {
                            response.json();
                            console.log(response);
                        });
                    }

                }

                render(){
                    return(
                        <button class={this.state.pinClassName} onClick={this.handleClick}>
                            {this.state.text} <i class="em em-heart"></i>
                        </button>
                    );
                }
            }

            const element = (<Pin/>);
            ReactDOM.render(element, document.getElementById('pin-block'));
        </script>
    {% endif %}


    <script type="text/babel">
        
        class ReactProgress extends React.Component {


            constructor(props){
                super(props);
                const total_reacts = {{ status | total_reacts }};
                var good=(parseFloat( {{status.total_good_react}}/ total_reacts )*100).toFixed(2);
                var bad=(parseFloat( {{status.total_bad_react}}/ total_reacts )*100).toFixed(2);
                var fake=(parseFloat({{status.total_fake_react}}/ total_reacts )*100).toFixed(2);

                if (good == 'NaN'){
                    good = 0;
                }
                if (bad == 'NaN'){
                    bad = 0;
                }
                if (fake == 'NaN'){
                    fake = 0;
                }

                this.state = {
                    'good' : good,
                    'bad' : bad,
                    'fake' : fake
                };
            }

            render(){

                const good = { width : this.state.good.toString()+'%' };
                const bad = { width : this.state.bad.toString()+'%'  };
                const fake = { width : this.state.fake.toString()+'%' };

                return(
                    <div>
                        <div className="progress">
                            <div className="progress-bar bg-success text-dark font-weight-bold" style={good}>
                                Good React {this.state.good} %
                            </div>
                        </div><br/>
                        <div className="progress">
                            <div className="progress-bar bg-warning text-dark font-weight-bold" style={bad}>
                                Bad React {this.state.bad} %
                            </div>
                        </div><br/>
                        <div className="progress">
                            <div className="progress-bar bg-danger text-dark font-weight-bold" style={fake}>
                                Fake React {this.state.fake} %
                            </div>
                        </div>
                    </div>
                );
                
            }
        }

        const element = (<ReactProgress/>);
        ReactDOM.render(element, document.getElementById('react-progress-block'));
    </script>
{% endblock %}