{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Space List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/space-box.css' %}">
{% endblock %}


{% block extra_content %}
    <div id="cards-container" url="/api/space/?token={{token}}">

   </div>
{% endblock %}

	

{% block extra_script %}
	<script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>

    <script type="text/babel" src="{% static 'react/space-cards.js' %}"></script>
{% endblock %}