{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Space List</title>
	<style type="text/css">
		body{
			background-color: #E2E9EA;
		}
	</style>
{% endblock %}


{% block extra_content %}

	<div class="container-fluid">
		<div class="row">
			{% for item in space_list %}
				<div class="col-md-4">
					<a href="/space/{{item.name}}/" class="list-group-item list-group-item-action">
						{{item.name}}
					</a>
				</div>
				
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

	

{% block extra_script %}
{% endblock %}