{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Update {{tab | capfirst }} | {{ space.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/update.css'%}">
{% endblock %}


{% block extra_content %}
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div>
                    <h5 class="list-group-item bg-secondary text-white">Update</h5>
                    {% if tab == 'information' %}
                        <a href="/space/{{space.name}}/update/?tab=information" class="list-group-item active">Information</a>
                        <a href="/space/{{space.name}}/update/?tab=banner" class="list-group-item">Banner</a>
        				<a href="/space/{{space.name}}/update/?tab=logo" class="list-group-item">Logo</a>
        			{% elif tab == 'logo' %}
        				<a href="/space/{{space.name}}/update/?tab=information" class="list-group-item">Information</a>
                        <a href="/space/{{space.name}}/update/?tab=banner" class="list-group-item">Banner</a>
        				<a href="/space/{{space.name}}/update/?tab=logo" class="list-group-item active">Logo</a>
                    {% else %}
                        <a href="/space/{{space.name}}/update/?tab=information" class="list-group-item">Information</a>
                        <a href="/space/{{space.name}}/update/?tab=banner" class="list-group-item active">Banner</a>
                        <a href="/space/{{space.name}}/update/?tab=logo" class="list-group-item">Logo</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7">
                {% if tab == 'banner' %}
                    <div id="banner-slider" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#banner-slider" data-slide-to="0"></li>
                            <li data-target="#banner-slider" data-slide-to="1"></li>
                            <li data-target="#banner-slider" data-slide-to="2"></li>
                        </ul>

                        <div class="carousel-inner">
                            {% for banner in banners %}
                                {% if forloop.first %}
                                <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}
                                    <div class="list-group-item banner-container">
                                        <img src="{{banner.location}}" id="banner-{{forloop.counter}}">
                                        <form id="form-{{forloop.counter}}">
                                            {% csrf_token %}
                                            <label for="banner-{{forloop.counter}}-input" class="btn btn-outline-secondary pickers">Choose</label>
                                            <input type="text" name="what" value="banner" class="d-none">
                                            <input type="text" name="current" value="{{banner.uid}}" class="d-none">
                                            <input type="text" name="space" value="{{space.name}}" class="d-none">
                                            <input type="text" name="token" value="{{token}}" class="d-none">
                                            <input type="file" id="banner-{{forloop.counter}}-input" name="image" class="d-none" onchange="previewImage(event, '#banner-{{forloop.counter}}', '#banner-{{forloop.counter}}-uploader')" accept=".png, .jpg, .jpeg">
                                            <button type="button" class="btn btn-success uploader" onclick="upload(this.id, 'form-{{forloop.counter}}')" id="banner-{{forloop.counter}}-uploader">Save</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                {% elif tab == 'logo' %}
                	<div class="list-group-item">
	                    <div class="logo-container">
	                    	<img src="{{space.logo}}" id="space-logo">
	                    </div>
	                    <form id="form-space-logo">
	                        {% csrf_token %}
	                        <label for="space-logo-input" class="btn btn-outline-secondary pickers">Choose</label>
	                        <input type="text" name="what" value="space_logo" class="d-none">
	                        <input type="text" name="space" value="{{space.name}}" class="d-none">
	                        <input type="text" name="token" value="{{token}}" class="d-none">
	                        <input type="file" id="space-logo-input" name="image" class="d-none" onchange="previewImage(event, '#space-logo', '#space-logo-uploader')" accept=".png, .jpg, .jpeg">
	                        <button type="button" class="btn btn-success uploader" onclick="upload(this.id, 'form-space-logo')" id="space-logo-uploader">Save</button>
	                    </form>
	                </div>
                {% else %}
                    <form method="POST" class="list-group-item">
                        {% csrf_token %}
                        {% if form.errors %}
		                    {% for field in form %}
		                        {% for error in field.errors %}
		                            <div class="alert alert-danger">
		                                <strong>{{ error|escape }}</strong>
		                            </div>
		                        {% endfor %}
		                    {% endfor %}
		                    {% for error in form.non_field_errors %}
		                        <div class="alert alert-danger">
		                            <strong>{{ error|escape }}</strong>
		                        </div>
		                    {% endfor %}
		                {% endif %}

                        {{ form.name.label }}
                        {{ form.name}}
                        {{ form.display_name.label }}
                        {{ form.display_name }}
                        {{ form.description.label }}
                        {{ form.description}}
                        <button type="submit" class="btn btn-success mt-3">Update</button>
                    </form>
                {% endif %}
                <br>
                <a href="/space/{{space.name}}/" class="list-group-item list-group-item-action">Back to Space</a>
                <br>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_script %}
    {% if tab == 'banner' or tab == 'logo' %}
        <script type="text/javascript" src="{% static 'js/generic/image-handler.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/space/manage/update.js' %}"></script>
    {% endif %}
{% endblock %}