{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Update | {{ space.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/manage/index.css'%}">
{% endblock %}


{% block extra_content %}
    <div class="d-flex justify-content-center">
        <div class="col-md-7">

            <div id="banner-slider" class="carousel slide mb-4" data-ride="carousel" data-interval="false">
                <ul class="carousel-indicators">
                    <li data-target="#banner-slider" data-slide-to="0"></li>
                    <li data-target="#banner-slider" data-slide-to="1"></li>
                    <li data-target="#banner-slider" data-slide-to="2"></li>
                </ul>

                <div class="carousel-inner">
                    {% for banner in banners %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                        
                            <div class="banner-slider-item">
                                <img src="{{banner.location}}" onerror="{this.src='https://images.unsplash.com/photo-1469827160215-9d29e96e72f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80'}" height="350px">
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>


            <form method="POST">
                {% csrf_token %}
                <div class="list-group-item">
                    {{ form}}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </form>
            <br>
            <a href="/space/{{space.name}}/" class="list-group-item list-group-item-action">Back to Space</a>
            <br><br>
        </div>
    </div>
{% endblock %}


{% block extra_script %}

{% endblock %}