{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>About Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/page/about.css' %}">
{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 block-article">
				<article class="display-4">Sakkhat is providing a better platform for micro sellers. A meeting place for self service providers and their customers.</article>
			</div>
			<div class="col-md-6 block-media">
				<img class="mx-auto d-block" src="{% static 'res/vector/seller.svg'%}">
			</div>
		</div>
	</div>
{% endblock %}

	

{% block extra_script %}
{% endblock %}