{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Feedback - Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/page/feedback.css' %}">
{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-white mt-2">
				<div class="media-block">
					<img src="{% static 'res/vector/vote.svg' %}">
				</div>
				<p align="center" class="display-4">Help us to improve our service</p>
			</div>
			<div class="col-md-6 mt-2 mb-3">
				{% if sent %}
					<h6 class="list-group-item list-group-item-success">Thanks for your feedback</h6>
				{% endif %}
				<form method="POST" class="list-group-item list-group-item-info">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-success">Send</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

	

{% block extra_script %}
{% endblock %}