{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/product_post_card.css' %}">
{% endblock %}


{% block extra_content %}

    <div class="container-fluid" id="trending">
        <div class="row">
            <div class="col-md-9">
                <a class="list-group-item bg-danger" href="#trending" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Trending Products</h4></a>
                <br>
                <div class="owl-carousel owl-theme float-carousel">
                    {% for post in trending_products %}
                        <div class="item">
                            <div class="card bg-light" id="product-card">
                                <a href="/space/product/{{ post.uid }}/">
                                    <img src="{{ post.logo_url }}">
                                </a>
                                <div class="card-body">
                                    <center>
                                       <a href="/space/product/{{ post.uid }}/"><h5>{{ post.title }}</h5></a>
                                       <h6 class="d-inline-block">{{ post.price }} TK</h6>            
                                    </center>
                                    <center>
                                        <button class="btn btn-success" data-toggle="tooltip" title="Good">
                                            <span class="badge badge-light">{{ post.react_good }}</span>
                                        </button>
                                        <button class="btn btn-warning" data-toggle="tooltip" title="Bad">
                                            <span class="badge badge-light">{{ post.react_bad }}</span>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" title="Fake">
                                            <span class="badge badge-light">{{ post.react_fake}}</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                <br><br>
            </div>

            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item bg-danger" href="#" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Trending Spaces</h4></a>
                    <a class="list-group-item" href="#">Apple</a>
                    <a class="list-group-item" href="#">Uniliver</a>
                    <a class="list-group-item" href="#">Pran</a>
                    <a class="list-group-item" href="#">Apex</a>
                    <a class="list-group-item" href="#">Apple</a>
                    <a class="list-group-item" href="#">Uniliver</a>
                    <a class="list-group-item" href="#">Pran</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a class="list-group-item bg-info" href="#" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Recent Products</h4></a>
                <br>
                <div class="owl-carousel owl-theme">
                    {% for post in recent_products %}
                        <div class="item">
                            <div class="card bg-light" id="product-card">
                                <a href="/space/product/{{ post.uid }}/">
                                    <img src="{{ post.logo_url }}">
                                </a>
                                <div class="card-body">
                                    <center>
                                       <a href="/space/product/{{ post.uid }}/"><h5>{{ post.title }}</h5></a>
                                       <h6 class="d-inline-block">{{ post.price }} TK</h6>            
                                    </center>
                                    <center>
                                        <button class="btn btn-success" data-toggle="tooltip" title="Good">
                                            <span class="badge badge-light">{{ post.react_good }}</span>
                                        </button>
                                        <button class="btn btn-warning" data-toggle="tooltip" title="Bad">
                                            <span class="badge badge-light">{{ post.react_bad }}</span>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" title="Fake">
                                            <span class="badge badge-light">{{ post.react_fake}}</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>

                    {% endfor %}  
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item bg-success" href="#" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Favourite Spaces</h4></a>
                    <a class="list-group-item" href="#">Apple</a>
                    <a class="list-group-item" href="#">Uniliver</a>
                    <a class="list-group-item" href="#">Pran</a>
                    <a class="list-group-item" href="#">Apex</a>
                    <a class="list-group-item" href="#">Apple</a>
                    <a class="list-group-item" href="#">Uniliver</a>
                    <a class="list-group-item" href="#">Pran</a>
                </div>
            </div>
            <div class="col-md-9">
                <a class="list-group-item bg-success" href="" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Pinned Products</h4></a>
                <br>
                <div class="owl-carousel owl-theme float-carousel">
                    {% for post in pinned_products %}
                        <div class="item">
                            <div class="card bg-light" id="product-card">
                                <a href="/space/product/{{ post.uid }}/">
                                    <img src="{{ post.logo_url }}">
                                </a>
                                <div class="card-body">
                                    <center>
                                       <a href="/space/product/{{ post.uid }}/"><h5>{{ post.title }}</h5></a>
                                       <h6 class="d-inline-block">{{ post.price }} TK</h6>            
                                    </center>
                                    <center>
                                        <button class="btn btn-success" data-toggle="tooltip" title="Good">
                                            <span class="badge badge-light">{{ post.react_good }}</span>
                                        </button>
                                        <button class="btn btn-warning" data-toggle="tooltip" title="Bad">
                                            <span class="badge badge-light">{{ post.react_bad }}</span>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" title="Fake">
                                            <span class="badge badge-light">{{ post.react_fake}}</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>

                    {% endfor %}  
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a class="list-group-item bg-primary" href="#" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Products you may like</h4></a>
                <br>
                <div class="owl-carousel owl-theme">
                    {% for post in related_products %}
                        <div class="item">
                            <div class="card bg-light" id="product-card">
                                <a href="/space/product/{{ post.uid }}/">
                                    <img src="{{ post.logo_url }}">
                                </a>
                                <div class="card-body">
                                    <center>
                                       <a href="/space/product/{{ post.uid }}/"><h5>{{ post.title }}</h5></a>
                                       <h6 class="d-inline-block">{{ post.price }} TK</h6>            
                                    </center>
                                    <center>
                                        <button class="btn btn-success" data-toggle="tooltip" title="Good">
                                            <span class="badge badge-light">{{ post.react_good }}</span>
                                        </button>
                                        <button class="btn btn-warning" data-toggle="tooltip" title="Bad">
                                            <span class="badge badge-light">{{ post.react_bad }}</span>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" title="Fake">
                                            <span class="badge badge-light">{{ post.react_fake}}</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>

                    {% endfor %}  
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_script %}
	<script type="text/javascript" src="{% static 'lib/js/owl.carousel.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/home/index.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/generic/product_post_card.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/generic/product_slider.js' %}"></script>
{% endblock %}