.card-container {
	position: relative; display: inline-block; overflow: hidden;
	background-color: #000; color: #fff;
	text-align: left; font-size: 13px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

.card-container * {
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.card-container figcaption {
	position: absolute; top: 0; left: 0; right: 0; border: 0;
	bottom: 0; padding: 20px; 
	background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.8) 
		0%, transparent 100%);
	background-image: linear-gradient(to, top, rgba(0,0,0,0.8) 
		0%, transparent 100%);

	display: flex; flex-direction: column; 
	justify-content: flex-end;
}
.card-container h5 {
	font-size: 25px; font-weight: 300; line-height: 1;
	letter-spacing: 1px; text-transform: uppercase;
	margin: 3px 0px;
}
.card-container .title {
	color: #fff; font-weight: 300;
}

.card-container .title1 {
	color: #fff; font-weight: 300;
}
.card-container .title2 {
	color: #42EEFF; font-weight: 300;
}

.card-container a {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.card-container:hover img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


.dash-card {

	max-width: 500px;  max-height: 500px; min-height: 210px;
	width: 100%; height: 100%;
}

.dash-card img {
	max-width: 100%; max-height: 500px;  min-height: 210px;  
	width: 100%; vertical-align: top; height: 100%;
}



.slider-card {
	margin: 5px; width: 300px;  height: 320px;
}

.slider-card img {
	width: 100%; height: 100%; vertical-align: top; 
}



.fixed-card {
	width: 300px; height: 300px;
}
.fixed-card img {
	width: 100%; vertical-align: top; height: 100%;
}


.category-card {
	margin: 5px;
	min-width: 280px; max-width: 300px; width: 100%; height: 300px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0); background-color: #fff;
}
.category-card img {
	max-width: 100%; height: 100%; vertical-align: top; padding: 10px;
}
.category-card:hover img{
	-webkit-transform: scale(1.2) rotate(5deg);
	transform: scale(1.2) rotate(5deg);
}



.react-btn {
	background-color: rgba(0,0,0,0.0);
	border-color: transparent;
	margin: 0 2px 0 2px; color: white;
	display: inline-block; float: left;
}

.grid-item {
	margin-top: 10px; margin-bottom: 10px;
}