{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Sign Up | Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/auth/signup.css' %}">
{% endblock %}


{% block extra_content %}

	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 view mt-5">
                <img src="{% static 'res/vector/logo_wb_t.svg' %}">
                <h1 class="text-white text-center mt-3">Meet your needs</h1>
            </div>
            <div class="col-md-6">
                <form class="sign-up-form list-group-item" method="POST">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                	{% csrf_token %}
                    {{ form.name.label }}
                    {{ form.name }}

                    {{ form.phone.label}}
                    {{ form.phone}}

                    {{ form.email.label}}
                    {{ form.email}}

                    {{ form.gender.label}}
                    {{ form.gender}}

                    {{ form.password.label}}
                    {{ form.password}}

                    {{ form.confirm_password.label}}
                    {{ form.confirm_password}}

                    <h6 class="alert alert-secondary">By signing up, you agree to the 
                        <a href="/page/terms/">Terms of Service</a> and 
                        <a href="/page/privacy-policy/">Privacy Policy</a>, including 
                        <a href="/page/cookie/">Cookie</a> Use. 
                    </h6>                 
                    <input type="submit" value="Sign Up" class="btn btn-success btn-block">
                </form>
                <br>
            </div>
            <br>
        </div>
        
    </div>
{% endblock %}


{% block extra_script %}
	
{% endblock %}