{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Signed Out | Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/product_post_card.css' %}">
{% endblock %}


{% block extra_content %}
	<center><h3 class="display-4 mt-3">Signed out</h3></center>
{% endblock %}


{% block extra_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			window.setTimeout(
				function (){
					window.location.href = "/";
				},
				2000
			);
		})
	</script>
{% endblock %}