{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/auth/signup.css' %}">
{% endblock %}


{% block extra_content %}

	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 view mt-5">
                <img src="{% static 'res/vector/logo_wb_t.svg' %}">
                <h1 class="text-white text-center mt-3">Meet your needs</h1>
            </div>
            <div class="col-md-6">
                <form class="sign-up-form list-group-item" method="POST">
                	{% csrf_token %}
                    {{ form.name.label }}
                    {{ form.name }}

                    {{ form.phone.label}}
                    {% if form.errors.phone %}
                        <strong class="list-group-item list-group-item-danger">{{ form.errors.phone}}</strong>
                    {% endif %}
                    {{ form.phone}}

                    {{ form.email.label}}
                    {% if form.errors.email %}
                        <strong class="list-group-item list-group-item-danger">{{ form.errors.email}}</strong>
                    {% endif %}
                    {{ form.email}}

                    {{ form.gender.label}}
                    {{ form.gender}}

                    {{ form.password.label}}
                    {{ form.password}}

                    {{ form.confirm_password.label}}
                    {{ form.confirm_password}}
                    {% if form.errors.confirm_password %}
                        <strong class="list-group-item list-group-item-danger">{{ form.errors.confirm_password}}</strong>
                    {% endif %}                    
                    <input type="submit" value="Sign Up" class="btn btn-success btn-block">
                </form>
                <br>
            </div>
            <br>
        </div>
        
    </div>
{% endblock %}


{% block extra_script %}
	
{% endblock %}