.image-container {
	width: 300px height: 300px; position: relative;
	margin: 0px 5px 0px 5px;
}

.image-container img {
	width: 300px; height: 300px; object-fit: cover;
	object-position: center;
}
.pickers {
	position: absolute; cursor: pointer;
	background-color: rgba(255,255,255,0.8);
	left: 50%; top: 50%; transform: translate(-50%, -50%);
}

.uploader {
	position: absolute; display: none;
	left: 50%; bottom: 30%; transform: translate(-50%, 0%);
}