#site-nav-bar {
	height: 60px;
}

#sakkhat-brand-link {
  background-color: white; border-radius: 5px; 
  padding: 2px 4px 2px 4px;
}

#sakkhat-brand-link:hover {
  background-color: #EDE6E4;
}

#sakkhat-brand-link img {
  width: 30px; height: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}