.home_block {
	height: 100%; margin: 0px;
	width: 100%;
}

.bg {
	height: 400px; background-size: cover;
	background-repeat: no-repeat; background-position: center;
}

.img1 { background-image: url("res/a.jpg"); }
.img2 { background-image: url("res/b.jpg"); }
.img3 { background-image: url("res/c.jpg"); }
.img4 { background-image: url("res/d.jpg"); }
.img5 { background-image: url("res/e.jpg"); }
.img6 { background-image: url("res/f.jpg"); }

.front_text {
	background-color: (0,0,0,.8);
	color: white; font-family: monospace;
	font-weight: bold; font-size: 70px;
	position: fixed; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: auto; text-align: center;
	border: 10px solid white;
	padding: 10px 15px 10px 15px;
	z-index: 2; 
}
