body{
	margin: 0px;
	background-color: white;
}

.page_header{
	background-color: black;
	height: 80px;
	margin: 0px;
}
.header_left{
	width: 600px;
	display: inline-block;
	float: left;
}
#site_logo{
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 12px;
	padding: 10px;
	margin-top: 10px;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
#site_title{
	color: white;
	display: inline-block;
	font-size: 50px;
	font-family: monospace;
	line-height: 80px;
	margin: 0px;
}

#site_moto{
	color:white;
	display: inline;
	font-size: 15px;
	line-height: 0px;
	margin: 0px;
	font-weight: bold;
}

.header_right{
	width: 400px;
	height: 80px;
	display: inline-block;
	float: right;
	color: white;
	position: absolute;
}
.site_options{
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
	margin-right: 5px;
	float: left;
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
.site_options:hover{
	background-color: white;
	color: black;
}

.contents{
	margin-top: 10px;
}
.article_block{
	float: left;
	width: 50%;
}
.article_head{
	font-size: 40px;
}

.article_body{
	font-size: 30px;
	line-height: 40px;
}
.article_img{
}