{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %} 
    <title>Trending | Sakkhat</title>
    {% developing_mode as developing %}
    {% if developing %}
        <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css'%}">
    {% else %}
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/card.css' %}">
{% endblock %}


{% block extra_content %}
    <h1 align="center" class="mt-3 mb-3"><i class="fa fa-line-chart" style="color:#F93B24;"><sup>trending</sup></i></h1>
    <div class="container-fluid">
        <div class="row justify-content-center" id="cards-container" url="/api/product/?query=trending&token={{token}}" renderID="cards-container">
       </div>
    </div>
{% endblock %}

    

{% block extra_script %}
    {% developing_mode as developing %}
    {% if developing %}
        <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>
    {% else %}
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    {% endif %}

    <script type="text/babel" src="{% static 'react/product-cards.js' %}"></script>
{% endblock %}