{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Sakkhat : meet your needs</title>
	<link rel="icon" type="text/css" href="{% static 'home/res/logo.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
</head>
<body>
	<!-- Header area -->
	<div class="page_header">
		<div class="header_left">
			<img src="{% static 'home/res/logo.png' %}" id="site_logo">
			<h1 id="site_title">Sakkhat</h1>
			<p id="site_moto">meet your needs</p>
		</div>
		
		
		<div class="header_right">
			<h2 class="site_options">About</h2>
			<h2 class="site_options">Space</h2>
			<h2 class="site_options">Log in</h2>
			<h2 class="site_options">Register</h2>
		</div>
	</div>


	<!-- content body area -->
	<div class="contents">
		<div class="article_block">
			<h1 class="article_head">What is Sakkhat?</h1>
			<p class="article_body">
				"sakkhat" is a bengali work express to "meet" or "visit" to something. Sakkhat is a virtual market place with micro shops providing spaces to deploy a mirco business. Sakkhat is stands with them, those have a better idea to deploy.   
			</p>
		</div>
		<img class="article_img" src="{% static 'home/res/business_man.jpg' %}">
		<div class="article_block">
			<h1 class="article_head">How sakkhat works?</h1>
			<p class="article_body">
				There can be two types of users. One who provide services through sakkhat and another is who take services from them through sakkhat. Service providers show off their services and their performances in sakkhat, when a customer wish to take a service they can directly contact with the service providers through mobile call or can send a message through mailbox.The service providers will response after getting the message and make the deal with customer. Sakkhat doesn't interfare between service providers and the customers. Sakkhat just providing an environment to established this interaction.
			</p>
		</div>
	</div>

	<!-- footer area -->
	<div class="page_footer">
		
	</div>

</body>
</html>