{% extends 'base.html' %}
{% load static %}


{% block extra_head %}
    <title>Create Product Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/space/product/create.css' %}">
{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form method="POST" class="form-block list-group-item" enctype="multipart/form-data">
                	{% csrf_token %}
                    {{ form.title.label }}
                    {{ form.title }}

                    {{ form.description.label }}
                    {{ form.description }}

                    {{ form.category.label }}
                    {{ form.category }}

                    {{ form.price.label }}
                    {{ form.price }}

                    <div class="list-group-item">
                        <label>Upload Product Images</label>
                        <div class="list-group-item">
                            <img src="{% static 'res/vector/logo_bw.svg' %}" class="image-preview" 
                                id="img-view-1">
                            <div class="custom-file">
                                {{ form.img1 }}
                                <label for="id_img1" class="custom-file-label">Select Image 1</label>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <img src="{% static 'res/vector/logo_bw.svg' %}" class="image-preview" 
                                id="img-view-2">
                            <div class="custom-file">
                                {{ form.img2 }}
                                <label for="id_img2" class="custom-file-label">Select Image 2</label>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <img src="{% static 'res/vector/logo_bw.svg' %}" class="image-preview" 
                                id="img-view-3">
                            <div class="custom-file">
                                {{ form.img3 }}
                                <label for="id_img3" class="custom-file-label">Select Image 3</label>
                            </div>
                        </div>  
                    </div>
                    <div class="list-group-item">
                        <label for="id_preview_select">Select Your Preview Image</label>
                        {{form.preview_select}}
                    </div>
                    <div class="list-group-item">
                        <label>Select Product Request Method</label>
                        <div class="custom-control custom-checkbox">
                            {{ form.phone_request }}
                            <label class="custom-control-label" for="id_phone_request">
                                Phone Request
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            {{ form.email_request }}
                            <label class="custom-control-label" for="id_email_request">
                                Email Request
                            </label>
                        </div>
                    </div>

                    <input type="submit" value="Create" class="btn btn-success btn-block">
                </form>
            </div>
            <div class="col-md-6 view mt-3">
                <p class="text-white text-center display-4">Express your own products</p>
                <img src="{% static 'res/vector/shopper-with-bags.svg' %}">
            </div>
            
        </div>
    </div>
{% endblock %}


{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/generic/image-preview.js'%}"></script>

{% endblock %}
