{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Explore Products</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/card.css' %}">
{% endblock %}


{% block extra_content %}
    {% if has_attribute %}
        {% if category %}
            <h3 align="center" class="mt-3 mb-3">{{ category }}</h3>
            <div class="container-fluid">
                <div class="row justify-content-center" id="cards-container" url="/api/product/?category={{category}}&token={{token}}" renderID="cards-container">
               </div>
            </div>
        {% elif pinned_by %}
            {% if request.user.is_authenticated %}
                <h3 align="center" class="mt-3 mb-3">{{ request.user.name }}'s' pinned</h3>
                <div class="container-fluid">
                    <div class="row justify-content-center" id="cards-container" url="/api/product/?pinned_by={{request.user.name}}&token={{token}}" renderID="cards-container">
                   </div>
                </div>
            {% else %}
                <h5 align="center">You are not authenticated</h5>
            {% endif %}
        {% elif query %}
            <h3 align="center" class="mt-3 mb-3">"{{query}}" result</h3>
            <div class="container-fluid">
                <div class="row justify-content-center" id="cards-container" url="/api/product/?query={{query}}&token={{token}}" renderID="cards-container">
               </div>
            </div>
        {% endif %}

    {% else %}
        <h3 align="center" class="mt-3 mb-3">Explore Products</h3>
        <div class="container-fluid">
            <div class="row justify-content-center" id="cards-container" url="/api/product/?token={{token}}" renderID="cards-container">
               </div>
            </div>
    {% endif %}
{% endblock %}

    

{% block extra_script %}

    <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>

    <script type="text/babel" src="{% static 'react/product-cards.js' %}"></script>
{% endblock %}