{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>{{ product.title }} | {{ product.space.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/space/product/single.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/product_post_card.css' %}">

{% endblock %}


{% block extra_content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#img1">
                            <img class="product-avatar-select" src="{{ media.0.location }}">
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#img2">
                            <img class="product-avatar-select" src="{{ media.1.location }}">
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#img3">
                            <img class="product-avatar-select" src="{{ media.2.location }}">
                        </a>
                    </li>
                </ul>

              <!-- Tab panes -->
                <div class="tab-content">
                    <div id="img1" class="container tab-pane active product-avatar">
                        <img src="{{ media.0.location }}">
                    </div>
                    <div id="img2" class="container tab-pane product-avatar">
                        <img src="{{ media.1.location }}">
                    </div>
                    <div id="img3" class="container tab-pane product-avatar">
                        <img src="{{ media.2.location }}">
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h4 class="list-group-item bg-light">{{ product.title }}</h4>
                <h5 class="list-group-item bg-light">
                    {{ product.price }} TK
                    {% if product.in_stock %}
                      (in stock)
                    {% else %}
                      (out of stock)
                    {% endif %}
                </h5>
                <a class="list-group-item bg-light" href="/space/{{product.space.name}}/">@{{ product.space.name }}</a>
                <br>
                <div class="list-group-item">
                    <button class="btn btn-outline-dark">{{ product.category }}</button>
                </div>
                <div class="list-group-item">
                    <p>{{ product.description | linebreaks }}</p>
                </div>
                <br>
                <div class="list-group-item" id="product-react-pin">

                </div>
                <br>
                <div id="request-block">
                    
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a class="list-group-item bg-primary" href="#" style="text-decoration: none; color: white;"><h4 style="margin: 0px">Related Products</h4></a>
                <br>
                <div class="owl-carousel owl-theme">
                    {% for post in related_products %}
                        <div class="item">
                            <div class="card bg-light" id="product-card">
                                <a href="/space/product/{{ post.uid }}/">
                                    <img src="{{ post.logo_url }}">
                                </a>
                                <div class="card-body">
                                    <center>
                                       <a href="/space/product/{{ post.uid }}/"><h5>{{ post.title }}</h5></a>
                                       <h6 class="d-inline-block">{{ post.price }} TK</h6>            
                                    </center>
                                    <center>
                                        <button class="btn btn-success" data-toggle="tooltip" title="Good">
                                            <span class="badge badge-light">{{ post.react_good }}</span>
                                        </button>
                                        <button class="btn btn-warning" data-toggle="tooltip" title="Bad">
                                            <span class="badge badge-light">{{ post.react_bad }}</span>
                                        </button>
                                        <button class="btn btn-danger" data-toggle="tooltip" title="Fake">
                                            <span class="badge badge-light">{{ post.react_fake}}</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>

                    {% endfor %}  
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_script %}
	<script type="text/javascript" src="{% static 'lib/js/owl.carousel.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/generic/product_post_card.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/generic/product_slider.js'%}"></script>

    <script type="text/javascript" src="{% static 'lib/js/react.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js'%}"></script>


    <script type="text/babel">
        class ProductReact extends React.Component {

            constructor(props){
                super(props);

                this.state = {
                    'good' : {{product.react_good}},
                    'bad' : {{product.react_bad}},
                    'fake' : {{product.react_fake}},

                    'goodClass' : 'btn btn-sm btn-outline-success',
                    'badClass' : 'btn btn-sm btn-outline-warning',
                    'fakeClass' : 'btn btn-sm btn-outline-danger',

                    'current_react' : 'N',
                    'url' : '?react=',
                    'auth' : true

                };

                this.handleGood = this.handleGood.bind(this);
                this.handleBad = this.handleBad.bind(this);
                this.handleFake = this.handleFake.bind(this);
            }

            componentDidMount(){

                {% if not request.user.is_authenticated %}
                    this.setState({
                        goodClass : this.state.goodClass+' disabled',
                        badClass : this.state.badClass+' disabled',
                        fakeClass : this.state.fakeClass+' disabled',
                        auth : false
                    });


                {% else %}

                    {% if has_react %}
                        const _current_react = "{{current_react}}";
                            this.setState({
                            current_react : _current_react

                        });

                        if (_current_react == 'G'){
                            console.log('Good');
                            this.setState({
                                goodClass : 'btn btn-sm btn-success'
                            });
                        }
                        else if (_current_react == 'B'){
                            console.log('Bad');
                            this.setState({
                                badClass : 'btn btn-sm btn-warning'
                            });
                        }
                        else if (_current_react == 'F'){
                            console.log('Fake');
                            this.setState({
                                fakeClass : 'btn btn-sm btn-danger'
                            });
                        }
                    {% endif %}

                {% endif %}
            
            }

            handleGood(){
                if(this.state.current_react == 'G' || !this.state.auth){
                    return;
                }

                this.managePrevious();
                const url =  this.state.url + "G"+this.state.current_react;

                this.setState({
                    goodClass : 'btn btn-sm btn-success',
                    good : this.state.good + 1,
                    current_react : 'G'

                });

                fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });
            }

            handleBad(){
                if(this.state.current_react == 'B' || !this.state.auth){
                    return;
                }

                this.managePrevious();
                const url =  this.state.url + "B"+this.state.current_react;

                this.setState({
                    badClass : 'btn btn-sm btn-warning',
                    bad : this.state.bad + 1,
                    current_react : 'B'
                });

                fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });

            }

            handleFake(){
                if(this.state.current_react == 'F' || !this.state.auth){
                    return;
                }

                this.managePrevious();
                const url =  this.state.url + "F"+this.state.current_react;

                this.setState({
                    fakeClass : 'btn btn-sm btn-danger',
                    fake : this.state.fake + 1,
                    current_react : 'F'
                });

                fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });
            }
            

            managePrevious(){

                console.log(this.state.current_react);

                if (this.state.current_react == 'G'){
                    this.setState({
                        good : this.state.good - 1,
                        goodClass : 'btn btn-sm btn-outline-success'
                    });
                }
                else if (this.state.current_react == 'B'){
                    this.setState({
                        bad : this.state.bad - 1,
                        badClass : 'btn btn-sm btn-outline-warning'
                    });
                }

                else if (this.state.current_react == 'F'){
                    this.setState({
                        fake : this.state.fake - 1,
                        fakeClass : 'btn btn-sm btn-outline-danger'
                    });
                }

                return;
            }

            render(){
                return (
                                
                    <div className="bt-config">
                        <button className={this.state.goodClass} onClick={this.handleGood}>
                            <i className="em em---1"></i><span className="badge badge-light">{this.state.good} Good</span>
                        </button>
                        <button className={this.state.badClass} onClick={this.handleBad}>
                            <i className="em em--1"></i><span className="badge badge-light">{this.state.bad} Bad</span>
                        </button>
                        <button className={this.state.fakeClass} onClick={this.handleFake}>
                            <i className="em em-face_with_symbols_on_mouth"></i><span className="badge badge-light">{this.state.fake} Fake</span>
                        </button>
                    </div>
                );
            }
        }

        class ProductPin extends React.Component{
            constructor(props){
                super(props);
                
                {% if has_pin %}
                    this.state = {
                        'btClassName' : 'btn btn-sm btn-dark',
                        'pinned' : true,
                        'text' : 'remove'
                    };
                {% else %}
                    this.state = {
                        'btClassName' : 'btn btn-sm btn-outline-dark',
                        'pinned' : false,
                        'text' : 'add'
                    };
                {% endif %}

                this.handlePin = this.handlePin.bind(this);
            }

            handlePin(){
                if(this.state.pinned){
                    this.setState({
                        btClassName : 'btn btn-sm btn-outline-dark',
                        pinned : false,
                        text : 'add'
                    });
                    fetch('?pin=remove')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.data);
                    });
                }
                else{
                    this.setState({
                        btClassName : 'btn btn-sm btn-dark',
                        pinned : true,
                        text : 'remove'
                    });
                    fetch('?pin=add')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.data);
                    });
                }
                return;
            }

            render(){
                return(
                    <button className={this.state.btClassName} onClick={this.handlePin}>
                        <i className="em em-pushpin"></i><span className="badge badge-light">{this.state.text}</span>
                    </button>
                )
            }
        }

        const element = (
            <div className="row">
                <div className="col-sm-9">
                    <ProductReact/>
                </div>
                <div className="col-sm-3 bt-config">
                    <ProductPin/>    
                </div>
            </div>
                
        );



        ReactDOM.render(element, document.getElementById('product-react-pin'));
    </script>

    <script type="text/babel">
        class Request extends React.Component {
            constructor(props){
                super(props);

                this.state = {'clicked' : false};

                this.handleClick = this.handleClick.bind(this);
            }

            handleClick(){
                if(this.state.clicked){
                    this.setState({clicked : false});
                    return;
                }

                this.setState({clicked : true});
                return;
            }

            render(){
                if(this.state.clicked){
                    return (
                        <button className="btn btn-outline-success btn-block" onClick={this.handleClick}>
                            Contact: {{ product.space.owner.phone }}
                        </button>
                    );
                }
                return(
                    <button className="btn btn-success btn-block" onClick={this.handleClick}>
                        Make Request
                    </button>
                );
            }
        }

        const element = (<Request/>)
        ReactDOM.render(element, document.getElementById('request-block'))
    </script>
{% endblock %}