{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %}
	<title>Product Update - {{tab | capfirst }}</title>
    {% developing_mode as developing %}
    {% if developing %}
        <link rel="stylesheet" type="text/css" href="{% static 'lib/css/slick.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/css/slick-theme.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.css">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/slick-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/space/product/update.css'%}">
{% endblock %}


{% block extra_content %}
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <div>
                    <h5 class="list-group-item bg-secondary text-white">Update Product</h5>
                    {% if tab == 'images' %}
                        <a href="/space/product/{{product.uid}}/update/?tab=details" class="list-group-item">Details</a>
                        <a href="/space/product/{{product.uid}}/update/?tab=images" class="list-group-item active">Images</a>
                    {% else %}
                        <a href="/space/product/{{product.uid}}/update/?tab=details" class="list-group-item active">Details</a>
                        <a href="/space/product/{{product.uid}}/update/?tab=images" class="list-group-item">Images</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7">
                {% if tab == 'images' %}
                    <div class="media-slick-container">
                        {% for item in media %}
                            <div class="list-group-item image-container">
                                <img src="{{item.location}}" id="item-{{forloop.counter}}">
                                <form id="form-{{forloop.counter}}">
                                    {% csrf_token %}
                                    <label for="item-{{forloop.counter}}-input" class="btn btn-outline-secondary pickers">Choose</label>
                                    <input type="text" name="what" value="product" class="d-none">
                                    <input type="text" name="current" value="{{item.uid}}" class="d-none">
                                    <input type="text" name="space" value="{{product.space.name}}" class="d-none">
                                    <input type="text" name="token" value="{{token}}" class="d-none">
                                    <input type="file" id="item-{{forloop.counter}}-input" name="image" class="d-none" onchange="previewImage(event, '#item-{{forloop.counter}}', '#item-{{forloop.counter}}-uploader')" accept=".png, .jpg, .jpeg">
                                    <button type="button" class="btn btn-success uploader" onclick="upload(this.id, 'form-{{forloop.counter}}')" id="item-{{forloop.counter}}-uploader">Save</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <form method="POST" class="list-group-item">
                        {% csrf_token %}<br>
                        {{ form.title.label}}
                        {{ form.title }}<br>

                        {{ form.description.label}}
                        {{ form.description}}<br>

                        {{ form.category.label}}
                        {{ form.category }}<br>

                        {{ form.price.label }}
                        {{ form.price }}<br>

                        <div class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                {{ form.in_stock}}
                                <label class="custom-control-label" for="id_in_stock">In Stock</label>
                            </div>
                        </div> 

                        <div class="list-group-item">
                            <label>Product Request Method</label>
                            <div class="custom-control custom-checkbox">
                                {{ form.phone_request }}
                                <label class="custom-control-label" for="id_phone_request">
                                    Phone Request
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                {{ form.email_request }}
                                <label class="custom-control-label" for="id_email_request">
                                    Email Request
                                </label>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success">Update</button>
                    </form>
                {% endif %}
                <br>
                <div class="list-group-item">
                    <a class="btn btn-primary" href="/space/product/{{product.uid}}/">Go to product view</a>
                    <a href="/space/product/{{product.uid}}/update/delete/" class="btn btn-danger">Delete</a>
                </div>
                <br><br>
            </div>
        </div>
    	
    </div>

{% endblock %}

	

{% block extra_script %}
    {% developing_mode as developing %}
    {% if developing %}
        <script type="text/javascript" src="{% static 'lib/js/slick.min.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
    {% endif %}

	<script type="text/javascript" src="{% static 'js/generic/image-handler.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/space/product/update.js'%}"></script>
{% endblock %}