{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Product Update</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/space/product/update.css'%}">
{% endblock %}


{% block extra_content %}
    
    <div class="d-flex justify-content-center align-items-center">
    	<div class="col-md-8">
    		<div class="media-block list-group-item">
	            <ul class="nav nav-tabs" role="tablist">
	                {% for item in media %}
                        <li class="nav-item">
                            {% if forloop.first %}
                            <a class="nav-link active" data-toggle="pill" href="#img{{forloop.counter}}">
                            {% else %}
                            <a class="nav-link" data-toggle="pill" href="#img{{forloop.counter}}">
                            {% endif %}
                                <img class="product-avatar-select" src="{{ item.location }}">
                            </a>
                        </li>
                    {% endfor %}
	            </ul>

	          <!-- Tab panes -->
	            <div class="tab-content">

	            	{% for item in media %}
	            		{% if forloop.first %}
	            		<div id="img{{forloop.counter}}" class="container tab-pane active product-avatar">
	            		{% else %}
	            		<div id="img{{forloop.counter}}" class="container tab-pane product-avatar">
	            		{% endif %}

		                    <img src="{{ item.location }}">
		                    <form method="POST" enctype="multipart/form-data" action="{{ item.uid }}/">
		                    	{% csrf_token %}
		                    	<label class="image-text-block" for="image{{forloop.counter}}">
		                            <h6>Select Image</h6>
		                        </label>
		                        <input type="file" accept=".png, .jpeg, .jpg" name="image" id="image{{forloop.counter}}" class="d-none">
		                        <button class="btn btn-primary btn-block" type="submit">Upload Selected Image</button>
		                    </form>
		                </div>
	            	{% endfor %}
	            </div>
	        </div>
	        <br>
    		<form method="POST">
    			{% csrf_token %}<br>
    			{{ form.title }}<br>
    			{{ form.description}}<br>
    			{{ form.category }}<br>
    			{{ form.price }}<br>
    			<div class="custom-control custom-checkbox">
    				{{ form.in_stock}}
    				<label class="custom-control-label" for="id_in_stock">In Stock</label>
    			</div><br>
    			<button class="btn btn-success btn-block">Update</button>
    		</form>
    		<br>
    	</div>
    </div>

{% endblock %}

	

{% block extra_script %}
{% endblock %}