.product-avatar-select {
	width: 50px; height: auto;
}

.product-avatar{
	width: auto; height: auto;
	max-width: 500px;
}

.product-avatar img {
	width: 100%; height: auto;
}

.product-avatar img:hover {
	cursor: pointer;
}

#product-react button {
	margin: 0px 5px 0px 2px;
}