{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %}
	<title>Explore | Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/space-box.css' %}">
{% endblock %}


{% block extra_content %}
    <div id="cards-container" url="/api/space/?token={{token}}">

   </div>
{% endblock %}

	

{% block extra_script %}
	{% developing_mode as developing %}
    {% if developing %}
        <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>
    {% else %}
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    {% endif %}

    <script type="text/babel" src="{% static 'react/space-cards.js' %}"></script>
{% endblock %}