{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Sakkhat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/slick-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/manage/index.css'%}">
{% endblock %}


{% block extra_content %}
    <div class="container-fluid">
        <div class="col-md-12 col-config">
            <div class="fade-slider">
                {% for item in categories %}
                    <div class="site-banner-container">
                        <img src="{{item.cover_url}}" height="350px">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="category-slider">
                    {% for item in categories %}
                        <figure class="card-container category-card">
                            <img src="{{item.logo_url}}">
                            <figcaption>
                                <h5 class="title1">{{item}}</h5>
                                <h5 class="title2">{{item.total_products}}</h5>
                            </figcaption>
                            <a href="/space/product/all/?category={{item}}"></a>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="bg-white">
            <h4 class="text-center row-header">Most recent</h4>
            <div class="row justify-content-center">
                {% for product in recent_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/space/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white">
            <h4 class="text-center row-header">Most Good Reacts</h4>
            <div class="row justify-content-center">
                {% for product in most_goods_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/space/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white">
            <h4 class="text-center row-header">Top Men Fashion</h4>
            <div class="row justify-content-center">
                {% for product in top_mens_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/space/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white">
            <h4 class="text-center row-header">Top Women Fashion</h4>
            <div class="row justify-content-center">
                {% for product in top_womens_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/space/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white">
            <h4 class="text-center row-header">Top Gadgets</h4>
            <div class="row justify-content-center">
                {% for product in top_gadgets_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/space/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div>
            <h4 class="text-center row-header">Top Spaces</h4>
            <div class="row" id="cards-container" url="/api/space/?query=top&limit=8&format=json">

            </div>
        </div>
        <br>
    </div>

    <div id="bi"></div>
{% endblock %}


{% block extra_script %}
	<script type="text/javascript" src="{% static 'lib/js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/generic/slider.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/home/manage/index.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>

    <script type="text/babel" src="{% static 'react/space-cards.js' %}"></script>
{% endblock %}