{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %}
	<title>Sakkhat - meet your needs</title>
    {% developing_mode as developing %}
    {% if developing %}
        <link rel="stylesheet" type="text/css" href="{% static 'lib/css/slick.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/css/slick-theme.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/css/emoji.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.css">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/space-box.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/slick-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/manage/index.css'%}">
{% endblock %}


{% block extra_content %}
    <div class="container-fluid">
        <div class="col-md-12 col-config">
            <div class="fade-slider">
                {% for item in categories %}
                    <div class="site-banner-container">
                        <img src="{{item.cover_url}}" height="350px">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="category-slider">
                    {% for item in categories %}
                        <figure class="card-container category-card">
                            <img src="{{item.logo_url}}">
                            <figcaption>
                                <h5 class="title1">{{item}}</h5>
                                <h5 class="title2">{{item.total_products}}</h5>
                            </figcaption>
                            <a href="/explore/product/?category={{item}}"></a>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="bg-white row-container">
            <h4 class="text-center row-header">Most recent</h4>
            <div class="row justify-content-center">
                {% for product in recent_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.space__name }}</h6>
                                <h6>@ {{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/{{product.space__name}}/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white row-container">
            <h4 class="text-center row-header">Most Good Reacts</h4>
            <div class="row justify-content-center">
                {% for product in most_goods_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.space__name }}</h6>
                                <h6>@ {{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/{{product.space__name}}/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white row-container">
            <h4 class="text-center row-header">Top Men Fashion</h4>
            <div class="row justify-content-center">
                {% for product in top_mens_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.space__name }}</h6>
                                <h6>@ {{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/{{product.space__name}}/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white row-container">
            <h4 class="text-center row-header">Top Women Fashion</h4>
            <div class="row justify-content-center">
                {% for product in top_womens_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.space__name }}</h6>
                                <h6>@ {{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/{{product.space__name}}/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="bg-white row-container">
            <h4 class="text-center row-header">Top Gadgets</h4>
            <div class="row justify-content-center">
                {% for product in top_gadgets_products %}
                    <div class="col-auto">
                        <figure class="card-container fixed-card">
                            <img src="{{ product.logo_url }}">
                            <figcaption>
                                <h5 class="title">{{ product.title }}</h5>
                                <h6>{{ product.space__name }}</h6>
                                <h6>@ {{ product.price }}</h6>
                                <div>
                                    <button class="react-btn">
                                        <i class="em em---1"></i>
                                        <span class="badge badge-success">{{product.react_good}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em--1"></i>
                                        <span class="badge badge-warning">{{product.react_bad}}</span>
                                    </button>
                                     <button class="react-btn">
                                        <i class="em em-rage"></i>
                                        <span class="badge badge-danger">{{product.react_fake}}</span>
                                    </button>
                                </div>
                            </figcaption>
                            <a href="/{{product.space__name}}/product/{{product.uid}}/"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </div>
    <div class="container-fluid">
        <div class="bg-white row-container">
            <h4 class="text-center row-header">Top Spaces</h4>
            <div class="row justify-content-center">
                {% for item in top_spaces %}
                    <div class="col-auto mb-3">
                        <div class="card text-white position-relative">
                            <img src="{{item.space__logo}}" class="card-img">
                            <div class="card-img-overlay">
                                <div class="d-flex justify-content-center">
                                    <img class="space-logo" src="{{item.space__logo}}">
                                </div>
                                <h6 class="space-name">@{{item.space__name}}</h6>
                                <div>
                                    <h6 class="activity">Favorite <span class="activity-counter">{{item.total_favorite}}</span></h6>
                                    <h6 class="activity">Pinned <span class="activity-counter">{{item.total_pinned}}</span></h6>
                                    <h6 class="activity">Posts <span class="activity-counter">{{item.total_post}}</span></h6>
                                    <h6 class="activity">Rating <span class="activity-counter">{{item.rating}}</span></h6>
                                </div>
                                <div class="space-link">
                                    <a href="/{{item.space__name}}/" class="btn btn-light btn-sm">Visit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_script %}
    {% developing_mode as developing %}
    {% if developing %}
        <script type="text/javascript" src="{% static 'lib/js/slick.min.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/generic/slider.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/home/manage/index.js' %}"></script>
	
{% endblock %}