{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>{{ request.user.name }} | Pinned products</title>
{% endblock %}


{% block extra_content %}
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <h5 class="list-group-item list-group-item-dark text-center">
                Your pinned products
            </h5>
            <table class="table table-bordered table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th>Product</th><th>Space</th><th>Time</th>
                    </tr>
                </thead>
                <tbody id="table-row-block">

                </tbody>
            </table>
        </div>
    </div>
    
    
{% endblock %}


{% block extra_script %}
    <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>

    <script type="text/babel">
        
        class PinProductRow extends React.Component{
            constructor(props){
                super(props);
                this.state = {
                    'token' : "{{ token }}",
                    'data_list' : null,
                    'loaded' : false,

                }
            }

            handleTimestamp(timeDate){
                return new Date(timeDate).toLocaleString();
            }

            getSpaceLink(item){
                return '/'+item.space;
            }

            getProductLink(item){
                return '/'+item.space+'/product/'+item.product;
            }

            componentDidMount(){
                const url = '/api/user/pinned_product_list/?token='+this.state.token
                fetch(url)
                .then(response => response.json())
                .then(data =>{
                    const data_list = data.map((item) =>      
                            <tr>
                                <td><a href={this.getProductLink(item)}>{item.title}</a></td>
                                <td><a href={this.getSpaceLink(item)}>{item.space}</a></td>
                                <td>{this.handleTimestamp(item.time_date)}</td>
                            </tr>
                        );
                    this.setState({
                        data_list : data_list,
                        loaded : true
                    });
                })
            }

            render(){
                if(this.state.loaded ){
                    const data_list = this.state.data_list;
                    return data_list;
                }
                return (
                    <tr><td>Loading...</td><td>Loading...</td></tr>
                );
                
            }
        }

        const element = ( <PinProductRow/> );
        ReactDOM.render(element, document.getElementById('table-row-block'));
    </script>

{% endblock %}