{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %}
	<title>{{ user.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/manage/profile.css'%}">
{% endblock %}


{% block extra_content %}

	<div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="user-avatar">
                    <img src="{{request.user.thumbnail}}" onerror="this.src='https://i.postimg.cc/0N8mRzvP/user.png'">
                </div>
                <div class="list-group">
                    <a href="update/" class="list-group-item list-group-item-action">Update Info</a>
                    <a href="change-password/" class="list-group-item list-group-item-action">Change Password</a>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark">About</h5>
                    <h6 class="list-group-item">Name: {{ user.name }}</h5>
                    <h6 class="list-group-item">Phone: {{ user.phone }}</h5>
                    <h6 class="list-group-item">Email: {{ user.email }}</h5>
                    <h6 class="list-group-item">Gender: {{ user.gender | gender }}</h6>
                </div>
                <br><br>

                {% if user.has_space %}
                    <div class="alert alert-warning">
                        <p>Currently beta version is running. No fee will be charged for anything. Check out the <a href="/page/terms/">Terms of service</a></p>
                    </div>
                    <div>
                        <h5 class="list-group-item text-center list-group-item-dark">{{space.name}}</h5>
                        <table class="table table-bordered table-secondary mb-0">
                            <thead>
                                <tr>
                                    <th>Rating</th>
                                    <th>Total Post</th>
                                    <th>Total Favorite</th>
                                    <th>Total Pinned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{status.rating}}</td>
                                    <td>{{status.total_post}}</td>
                                    <td>{{status.total_favorite}}</td>
                                    <td>{{status.total_pinned}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="/space/{{space.name}}/" class="list-group-item bg-primary">
                            <h5 class="text-center text-white mt-0 mb-0">GO Dashboard</h5>
                        </a>
                        <br><br>
                    </div>

                {% else %}
                    <a href="/space/create/" class="list-group-item list-group-item-action bg-success text-center text-white">
                        Create Space
                    </a>
                {% endif %}
                
            </div>
            <div class="col-md-3 mb-3">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark">Your Activity</h5>
                    <a class="list-group-item list-group-item-action" 
                        href="activity/?what=product-react-list">Product React List</a>

                    <a class="list-group-item list-group-item-action" 
                        href="activity/?what=favorite-space-list">Favorite Space List</a>
                        
                    <a class="list-group-item list-group-item-action" 
                        href="activity/?what=pinned-product-list">Pinned Product List</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_script %}

{% endblock %}