{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>{{ request.user.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/manage/info.css'%}">
{% endblock %}


{% block extra_content %}

	<div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="user-avatar">
                        <img src="{% static 'res/tony.jpg' %}" onerror="this.src='https://i.postimg.cc/0N8mRzvP/user.png'">
                    </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Update Info</a>
                    <a href="#" class="list-group-item list-group-item-action">Change Password</a>
                    <a href="#" class="list-group-item list-group-item-action">Deactivate Account</a>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark">About</h5>
                    <h6 class="list-group-item">Name: {{ request.user.name }}</h5>
                    <h6 class="list-group-item">Phone: {{ request.user.phone }}</h5>
                    <h6 class="list-group-item">Email: {{ request.user.email }}</h5>
                    {% if request.user.gender == 'M' %}
                        <h6 class="list-group-item">Gender: Male</h5>
                    {% elif request.user.gender == 'F' %}
                        <h6 class="list-group-item">Gender: Female</h5>
                    {% else %}
                        <h6 class="list-group-item">Gender: Other</h5>
                    {% endif %}
                </div>
                <br><br>
                <a class="list-group-item list-group-item-action list-group-item-dark" 
                    style="text-align: center;" href="#">
                    <h5 style="font-weight: bold;">Space Name</h5>
                </a>
                <table class="table table-bordered table-secondary">
                    <thead>
                        <tr>
                            <th>Rating</th><th>Total React</th><th>Total Favorite</th>
                        </tr>
                        <tr>
                            <td>1545</td><td>5994</td><td>485</td>
                        </tr>
                    </thead>
                </table>
                <a href="/space/easy/" class="list-group-item bg-primary">
                    <h5 style="margin: 0px; color:white; text-align: center;">Dashboard</h5>
                </a>
                <br><br>
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark">Activity</h5>
                    <a class="list-group-item list-group-item-action" 
                        href="activity/?what=product-react-list">Product React List</a>

                    <a class="list-group-item list-group-item-action" 
                        href="activity/?what=favorite-space-list">Favorite Space List</a>
                        
                    <a class="list-group-item list-group-item-action" 
                        href="activity/?what=pinned-product-list">Pinned Product List</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_script %}

{% endblock %}