{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block extra_head %}
	<title>{{ request.user.name }} - update</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/manage/update.css'%}">
{% endblock %}


{% block extra_content %}

	<div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="account-image-block">
                
            </div>
            <div class="col-md-8">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-dark">About</h5>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="list-group-item">
                            {{ form.name.label}}
                            {{ form.name }}
                        </div>

                        <div class="list-group-item">
                            {{ form.email.label}}
                            {{ form.email }}
                        </div>
                        <div class="list-group-item">
                            {{ form.gender.label}}
                            {{ form.gender }}
                        </div>
                        <div class="list-group-item">
                            {{ form.password.label}}
                            {{ form.password }}
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Update</button>
                    </form>
                    <br>
                    <a href="/account/" class="list-group-item list-group-item-action mb-3">Back to profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_script %}
    {% developing_mode as developing %}
    {% if developing %}
        <script type="text/javascript" src="{% static 'lib/js/react.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/react-dom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/browser.min.js' %}"></script>
    {% else %}
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    {% endif %}

    <script type="text/babel">
        
        class ImageUpdater extends React.Component {

            constructor(props){
                super(props);

                this.state = {
                    'thumbnail' : '{{request.user.thumbnail}}',
                    'uploading' : false,
                    'token' : '{{ token }}'
                }

                this.handleSelect = this.handleSelect.bind(this);
                
            }

            handleSelect(e){
                
                if (e.target.files && e.target.files[0]){
                
                    const file = e.target.files[0];
                    
                    if(file.size > 1048576){
                        alert('MAX upload size 1MB');
                        return;
                    }

                    var formData = new FormData();
                    formData.append('what', 'account');
                    formData.append('token', this.state.token);
                    formData.append('image', file);


                    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                    var ac_id = '{{request.user.phone}}'
                    const url = '/api/media/update/';
                    fetch(url, {
                        method: 'PUT',
                        body : formData,
                        headers: {
                        "X-CSRFToken": $crf_token,
                        Accept: 'application/json, text/plain, */*',
                    },

                    })
                    .then(response => response.json())
                    .then(data =>{
                        this.setState({
                            thumbnail : data.image,
                            uploading : false
                        });

                    })
                    .catch(error =>{
                        
                    });

                    this.setState({
                        uploading : true,
                    });

                }
            }

            render(){
                const inputStyle = {display : 'none'};
                if(this.state.uploading){
                    return(
                        <div>
                            <div className="user-avatar-container">
                                <img className="user-avatar" src={this.state.thumbnail} ref={img => this.img = img} onError={ () => this.img.src = 'https://i.postimg.cc/0N8mRzvP/user.png'} /><br/>
                            </div>
                            <div className="d-flex justify-content-center align-items-center">
                                <button className="btn btn-primary disabled">
                                    <span className="spinner-border spinner-border-sm"></span>Uploading...
                                </button>
                            </div>
                            
                        </div>
                    );
                }
                return(
                    <div>
                        <div className="user-avatar-container">
                            <img class="user-avatar" src={this.state.thumbnail} ref={img => this.img = img} onError={ () => this.img.src = 'https://i.postimg.cc/0N8mRzvP/user.png'} /><br/>
                        </div>
                        <div className="d-flex justify-content-center align-items-center">
                            <label for="account-image" className="btn btn-primary">Update Image</label>
                            <input type="file" accept=".png, .jpg, .jpeg"  name="account-image" style={inputStyle} id="account-image" onChange={this.handleSelect}/>
                        </div>
                        
                    </div>
                    
                );
            }
        }

        const element = (<ImageUpdater/>);
        ReactDOM.render(element, document.getElementById('account-image-block'));
    </script>
{% endblock %}